@model LMS.Models.ApplicationUser

@{
    ViewData["Title"] = "My Profile";
}

<h2>My Profile</h2>

<table class="table table-bordered">
    <tr>
        <th>Username</th>
        <td>@Model.Username</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Contact Number</th>
        <td>@Model.ContactNumber</td>
    </tr>
    <tr>
        <th>Role</th>
        <td>@(Model.IsAdmin ? "Admin" : "User")</td>
    </tr>
</table>

<a asp-action="EditProfile" class="btn btn-primary">Edit Profile</a>
<a asp-action="Logout" class="btn btn-secondary">Logout</a>
<a href="/Borrow/AvailableBooks" class="btn btn-primary m-2">Available Books</a>
<a href="/Borrow/MyBorrowedBooks" class="btn btn-success m-2">My Borrowed Books</a>
