@model IEnumerable<LMS.Models.Book>

@{
    ViewData["Title"] = "Book List";
}

<h2>Book List</h2>
<div class="d-flex justify-content-end mb-3">
    <a href="@Url.Action("ExportBooksToCsv", "Admin")" class="btn btn-sm btn-success">Download CSV</a>
    
</div>



<a href="/Book/Add" class="btn btn-primary mb-3">Add New Book</a>
@* <a href="@Url.Action("ExportBooksToCsv", "Admin")" class="btn btn-sm btn-success">Download CSV</a> *@

<form method="get" asp-action="Index">
    <div class="input-group mb-3">
        <input type="text" name="searchQuery" class="form-control" placeholder="Search books..."
               value="@ViewBag.SearchQuery" />
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
    
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Category</th>
            <th>Total Copies</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.ISBN</td>
                <td>@book.Category</td>
                <td>@book.TotalCopies</td>
                <td>
                    <a href="/Book/Edit/@book.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a href="/Book/Delete/@book.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="d-flex justify-content-between align-items-center mt-3">
    <div>
        Page @ViewBag.CurrentPage of @Math.Ceiling((double)ViewBag.TotalBooks / ViewBag.PageSize)
    </div>
    
    <div>
        @if (ViewBag.CurrentPage > 1)
        {
            <a class="btn btn-sm btn-secondary"
               asp-action="Index"
               asp-route-pageNumber="@(ViewBag.CurrentPage - 1)"
               asp-route-searchQuery="@ViewBag.SearchQuery">Previous</a>
        }
        @if ((ViewBag.CurrentPage * ViewBag.PageSize) < ViewBag.TotalBooks)
        {
            <a class="btn btn-sm btn-secondary"
               asp-action="Index"
               asp-route-pageNumber="@(ViewBag.CurrentPage + 1)"
               asp-route-searchQuery="@ViewBag.SearchQuery">Next</a>
        }
    </div>

    

</div>

